<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo">
                <img src="assets/images/logos/kms.png" alt=""/>
            </div>

            <div class="title">Formulario de Registro</div>


            <form name="registerForm" novalidate ng-submit="registerForm.$valid && regControl.registerFormPost()">
                <div layout="row" flex>
                    <md-input-container class="md-block" md-no-float flex>
                        <input name="firstname" ng-model="form.firstname" placeholder="Nombre" required>
                        <div ng-messages="registerForm.firstname.$error" ng-show="registerForm.firstname.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span>El campo Nombre es obligatorio</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" md-no-float flex>
                        <input name="lastname" ng-model="form.lastname" placeholder="Apellidos"
                               required>
                        <div ng-messages="registerForm.lastname.$error" ng-show="registerForm.lastname.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span>El campo Apellido es obligatorio</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" flex>                    
                    <md-input-container md-no-float flex id="genre-container">
                        <p id="genre-label" flex>Género</p>                        
                        <md-radio-group name="genre" ng-model="form.genre" required layout="row">
                            <md-radio-button value="Masculine">Masculino</md-radio-button>
                            <md-radio-button value="Femenine">Femenino</md-radio-button>
                        </md-radio-group>
                        <div ng-messages="registerForm.genre.$error" ng-show="registerForm.genre.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span>El campo G&eacute;nero es obligatorio</span>
                            </div>
                        </div>
                    </md-input-container>

                    <div flex layout="row">
                        <mdp-date-picker flex name="birthdate" mdp-placeholder="Fecha de Nacimiento" ng-model="form.birthdate" required></mdp-date-picker>
                        <div class="validation-messages" ng-messages="registerForm.birthdate.$error" ng-show="registerForm.birthdate.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span>El campo Fecha de Nacimiento es obligatorio</span>
                            </div>
                        </div> 
                    </div>
                    <md-input-container class="md-block" md-no-float flex>
                        <input name="phone" ng-model="form.phone" placeholder="Tel&eacute;fono"                           
                               type="tel" required>
                        <div ng-messages="registerForm.phone.$error" ng-show="registerForm.phone.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span>El campo Tel&eacute;fono es obligatorio</span>
                            </div>
                            <div ng-message="phone">
                                <span>El campo Tel&eacute;fono debe contener un n&uacute;mero telef&oacute;nico valido</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex>
                        <input placeholder="Direcci&oacute;n" 
                               ng-model="form.location.address" type="text" 
                               ng-disabled="regControl.useCurrentLocation" googleplace>
                    </md-input-container>
                    <md-input-container>
                        <md-checkbox ng-model="useCurrentLocation" aria-label="Usar Localidad Actual" 
                                     ng-change="useCurrentLocationChanged()">
                            Usar Localidad Actual
                        </md-checkbox>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" ng-hide="regControl.useCurrentLocation">
                    <md-input-container flex>
                        <input placeholder="Regi&oacute;n" ng-model="form.location.state" type="text" ng-disabled="regControl.useCurrentLocation">
                    </md-input-container>
                    <md-input-container flex>
                        <input placeholder="Ciudad" ng-model="form.location.city" type="text" ng-disabled="regControl.useCurrentLocation">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" ng-hide="regControl.useCurrentLocation">
                    <md-input-container flex>
                        <input placeholder="Sector" ng-model="form.location.neighborhood" type="text" ng-disabled="regControl.useCurrentLocation">
                    </md-input-container>
                    <md-input-container flex>
                        <input placeholder="Calle" ng-model="form.location.street" type="text" ng-disabled="regControl.useCurrentLocation">
                    </md-input-container>
                </div>

                <div layout="row" flex>
                    <md-input-container class="md-block" md-no-float flex>
                        <input type="email" name="email" ng-model="form.email" placeholder="Email"
                               ng-pattern="/^.+@.+\..+$/" required>
                        <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched" role="alert"
                             multiple>
                            <div ng-message="required">
                                <span>Email es requerido</span>
                            </div>
                            <div ng-message="pattern">
                                <span>Introduzca un Email v&aacute;lido</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" md-no-float flex>
                        <input type="email" name="emailConfirmation" ng-model="form.emailConfirm" 
                               placeholder="Confirmaci&oacute;n de Email" ng-match="form.email" required>
                        <div ng-messages="registerForm.emailConfirmation.$error" ng-show="registerForm.emailConfirmation.$touched" role="alert" multiple>
                            <div ng-message="required">
                                <span>La confirmaci&oacute;n de email es requerida</span>
                            </div>
                            <div ng-message="match">
                                <span>La confirmaci&oacute;n de email debe ser identica al email</span>
                            </div>
                        </div>
                    </md-input-container>

                </div>
                <div layout="row" flex>
                    <md-input-container class="md-block" md-no-float flex>
                        <input type="password" name="password" ng-model="form.password" placeholder="Contrase&ntilde;a"
                               required>
                        <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched"
                             role="alert">
                            <div ng-message="required">
                                <span>La contrase&ntilde;a es requerida.</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" md-no-float flex>
                        <input type="password" name="passwordConfirmation" ng-model="form.passwordConfirm" placeholder="Confirmaci&oacute;n de Contrase&ntilde;a"
                               ng-match="form.password" required>
                        <div ng-messages="registerForm.passwordConfirmation.$error" ng-show="registerForm.passwordConfirmation.$touched" role="alert" multiple>
                            <div ng-message="required">
                                <span>La confirmaci&oacute;n de la contrase&ntilde;a es requerida.</span>
                            </div>
                            <div ng-message="match">
                                <span>La confirmaci&oacute;n de contrase&ntilde;a debe ser identica a la contrase&ntilde;a</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block" md-no-float>

                    <div class="terms" layout="row" layout-align="center center">
                        <md-checkbox name="terms" ng-model="data.cb1" aria-label="He leido y aceptado" required></md-checkbox>
                        <div layout="row" layout-sm="column" layout-align="start center">
                            <span>He leido y aceptado</span>
                            <a href="#" class="md-accent-color">los t&eacute;rminos y condiciones</a>
                        </div>
                    </div>

                    <md-button id="submit-btn" type="submit" class="md-raised md-accent" aria-label="Crear Cuenta"
                               ng-disabled="registerForm.$invalid || registerForm.$pristine">
                        Crear Cuenta
                    </md-button>
            </form>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text">¿Ya tienes una cuenta?</span>
                <a class="link" ui-sref="kms.login">Iniciar Sesion</a>
            </div>
        </div>
    </div>
</div>