<md-toolbar class="warning-list-tools md-whiteframe-1dp" >
    <p>Alertas y Denuncias</p>
</md-toolbar>
<md-list>
    <md-list-item class="md-3-line warning" ng-repeat-start="warning in wc.list" 
                  ng-click="wc.selectWarning(warning)" ng-class="{'grey-bg md-hue-3-bg': wc.isSelected(warning._id)}">
        <md-icon class="warning-icon" md-svg-src="assets/icons/svg/{{warning.type.name}}.svg"></md-icon>
        <div class="md-list-item-text" layout="column">
            <h3>{{ warning.type.label}}</h3>
            <h4>{{ warning.location.neighborhood}}</h4>
            <p>{{ warning.reportDate | date: 'MMM d, y': 'es_DO'}} - {{ warning.description}}</p>
            <span></span>
        </div>
        <md-icon class="warning-icon" md-svg-src="assets/icons/svg/location.svg"></md-icon>
    </md-list-item>
    <md-divider ng-repeat-end></md-divider>
    <md-list-item class="warning" ng-if="wc.list.length == 0">
        No hay denuncias o alertas para presentar.
    </md-list-item>
</md-list>
<!-- 
<md-button class="md-fab md-warn md-fab-top-left" aria-label="P&aacute;nico">
    <md-icon md-svg-src="assets/icons/svg/warning.svg"></md-icon>
</md-button>
-->
<md-button class="md-fab md-fab-top-right" aria-label="Nueva den&uacute;ncia" 
           ng-click="wc.showDetailModal()" secure-element>
    <md-icon md-svg-src="assets/icons/svg/bell.svg"></md-icon>
</md-button>
