<md-dialog aria-label="Alerta" flex="60">
    <form>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Nueva Alerta</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content class="md-padding">
                <form name="warning-dialog-form" class="warning-dialog-form">
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Tipo de Alerta</label>
                            <md-select ng-model="warning.type">
                                <md-option ng-repeat="type in warningTypes" value="{{type._id}}">
                                    {{type.label}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-checkbox ng-model="wc.useCurrentLocation" aria-label="Usar Localidad Actual">
                                Usar Localidad Actual
                            </md-checkbox>
                        </md-input-container>
                    </div>
                        <md-input-container class="md-block" ng-hide="wc.useCurrentLocation">
                            <label>Direcci&oacute;n</label>
                            <input ng-model="warning.location.address" type="text" ng-disabled="wc.useCurrentLocation" googleplace>
                        </md-input-container>
                        <div layout-gt-xs="row" ng-hide="wc.useCurrentLocation">
                            <md-input-container flex>
                                <label>Regi&oacute;n</label>
                                <input ng-model="warning.location.state" type="text" ng-disabled="wc.useCurrentLocation">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Ciudad</label>
                                <input ng-model="warning.location.city" type="text" ng-disabled="wc.useCurrentLocation">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row" ng-hide="wc.useCurrentLocation">
                            <md-input-container flex>
                                <label>Sector</label>
                                <input ng-model="warning.location.neighborhood" type="text" ng-disabled="wc.useCurrentLocation">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Calle</label>
                                <input ng-model="warning.location.street" type="text" ng-disabled="wc.useCurrentLocation">
                            </md-input-container>
                        </div>
                    <md-input-container class="md-block">
                        <label>Descripci&oacute;n</label>
                        <textarea ng-model="warning.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </form>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="answer('useful')" >
                Cancelar
            </md-button>
            <md-button class="md-accent" ng-click="answer('not useful')" >
                Publicar
            </md-button>      
        </md-dialog-actions>
    </form>
</md-dialog>
