<md-toolbar class="warning-list-tools md-whiteframe-1dp" >
    <p>Alertas y Denuncias</p>
</md-toolbar>
<md-list>
    <md-list-item class="md-3-line warning" ng-repeat-start="warning in wc.list | orderBy : '-reportDate'"
                  ng-click="wc.selectWarning(warning)" ng-class="{'grey-bg md-hue-3-bg': wc.isSelected(warning._id)}">
        <img class="warning-png-icon" ng-src="assets/icons/png/{{warning.type.name}}.png" />
        <!-- TODO: Replace png with svg <md-icon class="warning-icon" md-svg-src="assets/icons/png/{{warning.type.name}}.png"></md-icon> -->
        <div class="md-list-item-text" layout="column">
            <h3>{{ warning.type.label}}</h3>
            <h4>{{ warning.location.neighborhood}}</h4>
            <p>{{ warning.reportDate | date: 'MMM d, y': 'es_DO'}} - {{ warning.description}}</p>
            <!--TODO: use real data-->
            <span>
              <md-icon md-font-icon="icon-thumb-up" ng-click="wc.upvote(warning.id)"></md-icon>
              <md-icon md-font-icon="icon-thumb-down" ng-click="wc.downvote(warning.id)"></md-icon>
            </span>
        </div>
        <md-icon ng-if="{{warning.location.latitude && warning.location.longitude}}" class="warning-icon" md-svg-src="assets/icons/svg/location.svg"></md-icon>
    </md-list-item>
    <md-divider ng-repeat-end></md-divider>
    <md-list-item class="warning" ng-if="wc.list.length == 0">
        No hay denuncias o alertas para presentar.
    </md-list-item>
</md-list>
<!--
<md-button class="md-fab md-warn md-fab-top-left" aria-label="P&aacute;nico">
    <md-icon md-svg-src="assets/icons/svg/warning.svg"></md-icon>
</md-button>
-->
<md-button secure-element class="md-fab md-fab-top-right" aria-label="Nueva den&uacute;ncia"
           ng-click="wc.user && wc.showDetailModal()">
    <md-icon md-svg-src="assets/icons/svg/bell.svg"></md-icon>
</md-button>
