<md-dialog aria-label="Iniciar Sesion"   ng-cloak>
    <div class="login">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Iniciar Sesion</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="login-form">
                    <div class="title">Log in to your account</div>
                    <div class="description">Sed mollis velit facilisis facilisis viverra</div>

                    <form name="loginForm" novalidate>
                        <md-input-container class="md-block" md-no-float>
                            <input type="email" name="email" ng-model="lc.form.email" placeholder="Email"
                                   ng-pattern="/^.+@.+\..+$/" required>
                            <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched" role="alert" multiple>
                                <div ng-message="required">
                                    <span>El campo e-mail es requerido</span>
                                </div>
                                <div ng-message="pattern">
                                    <span>Debe ser un e-mail v&aacute;lido</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" md-no-float>
                            <input type="password" name="password" ng-model="lc.form.password" placeholder="Contrase&ntilde;a"
                                   required>
                            <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" role="alert">
                                <div ng-message="required">
                                    <span>El campo contrase&ntilde;a es requerido</span>
                                </div>
                            </div>
                        </md-input-container>

                        <div class="remember-forgot-password" layout="row" layout-sm="column"
                             layout-align="space-between center">
                            <md-checkbox class="remember-me" ng-model="data.cb1" aria-label="Remember Me">
                                <span>Recu&eacute;rdame</span>
                            </md-checkbox>

                            <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color"
                               translate="LOGIN_V2.FORGOT_PASSWORD">Olvid&oacute; su contrase&ntilde;a?</a>
                        </div>

                        <md-button type="submit" class="md-raised md-accent" aria-label="Iniciar Sesion"
                                   ng-disabled="loginForm.$invalid || loginForm.$pristine">
                            Iniciar Sesi&oacute;n
                        </md-button>
                    </form>

                    <div class="separator">
                        <span class="text">&Oacute;</span>
                    </div>

                    <div layout="column" layout-align="start center">
                        <md-button class="md-raised google">
                            <div layout="row" layout-align="center center">
                                <span>
                                    <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                                    <span>Iniciar con Google</span>
                                </span>
                            </div>
                        </md-button>

                        <md-button class="md-raised facebook">
                            <div layout="row" layout-align="center center">
                                <span>
                                    <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                                    <span>Iniciar con Facebook</span>
                                </span>
                            </div>
                        </md-button>
                    </div>

                    <div class="register" layout="row" layout-sm="column" layout-align="center center">
                        <span class="text">No tienes cuenta?</span>
                        <a class="link" ui-sref="app.register">Crear una cuenta</a>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </div>
</md-dialog>