<div id="profile" class="page-layout simple tabbed">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
            <img class="profile-image avatar huge" ng-src="assets/images/avatars/{{pc.user.profilePictureUrl}}.jpg">

            <div class="name">{{pc.user.firstname}} {{pc.user.lastname|| ''}}</div>
        </div>

        <div class="actions" layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" aria-label="Inicio" ui-sref="kms">Inicio</md-button>
            <md-button class="md-raised md-primary">Cerrar sesi&oacute;n</md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" flex>

        <div layout="row" layout-wrap>

            <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
                <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
                    <header class="md-accent-bg">
                        <div class="title">Informaci&oacute;n Personal</div>
                    </header>

                    <div class="content">
                        <div class="info-line">
                            <div class="title">Genero</div>
                            <div class="info">{{pc.user.genre}}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Fecha de nacimiento</div>
                            <div class="info">{{pc.user.birthdate| date: 'MMM d, y': 'es_DO'}}</div>
                        </div>

                        <div class="info-line">
                            <div class="title">Ubicaci&oacute;n</div>
                            <span>{{pc.user.location.city}}, {{pc.user.location.neighborhood}}</span>
                            <md-icon md-font-icon="icon-map-marker" class="s16"></md-icon>
                        </div>
                    </div>
                </div>

                <div class="profile-box info-box contact md-whiteframe-1dp" layout="column">
                    <header class="md-accent-bg">
                        <div class="title">Forma de contacto</div>
                    </header>
                    <div ui-view="user-contact"></div>
                </div>
            </div>

            <div class="about-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">
                <div class="profile-box info-box work md-whiteframe-1dp" layout="column">
                    <header class="md-accent-bg" layout="column">
                        <div class="title">&Aacute;reas de Notificaci&oacute;n</div>
                        <div class="more secondary-text" ng-if="pc.user.notificationAreas">
                            <span>{{pc.user.notificationAreas.length}}</span>
                            <span>áreas</span>
                            <span>seleccionadas</span>
                        </div>
                    </header>

                    <div class="content">
                        <div ng-if="pc.user.notificationAreas" class="info-line" ng-repeat="area in pc.user.notificationAreas">
                            <div ng-click="pc.openAreaModal(area)" class="title"></md-icon>{{area.title}}</div>  
                            <div class="info">{{area.location.city}}, {{area.location.neighborhood}} <md-icon md-font-icon="icon-map-marker" class="s16"></div>
                        </div>
                        <div ng-if="!pc.user.notificationAreas">
                            <p>No hay &aacute;reas configuradas para mostrar</p>
                        </div>
                        <md-button ng-click="pc.openAreaModal()" class="md-fab md-accent" aria-label="nueva area">
                            <md-icon md-font-icon="icon-plus"></md-icon>
                        </md-button>
                    </div>
                </div>

                <div class="profile-box groups md-whiteframe-1dp" layout="column">
                    <header class="md-accent-bg" layout="row" layout-align="space-between center">
                        <div class="title">Grupos</div>                        
                    </header>

                    <div class="content" ng-if="pc.user.groups">
                        <div class="group" ng-repeat="group in pc.user.groups" layout="row"
                             layout-align="space-between center">
                            <div layout="row" layout-align="start center">
                                <img ng-src="{{group.logo}}" class="logo" alt="{{group.name}}"/>

                                <div>
                                    <div class="name">{{group.name}}</div>
                                    <div class="category">{{group.category}}</div>
                                    <div class="members">{{group.members}} people</div>
                                </div>
                            </div>
                            <md-button class="md-icon-button" aria-label="mas">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                        </div>
                    </div>

                    <div class="content">
                        <p>No hay datos para mostrar.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>