<md-dialog aria-label="Area de Notificacion" flex="60">
    <form name="notification-area-form">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>&Aacute;rea de Notificaci&oacute;n</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content class="md-padding">                  
                    <md-input-container class="md-block">
                        <label>Descripci&oacute;n</label>
                        <textarea ng-model="warning.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Direcci&oacute;n</label>
                        <input ng-model="area.location.address" type="text" ng-disabled="useCurrentLocation" googleplace>
                    </md-input-container>
                    <md-input-container>
                        <md-checkbox ng-model="useCurrentLocation" aria-label="Usar Localidad Actual" 
                                     ng-change="useCurrentLocationChanged()">
                            Usar Localidad Actual
                        </md-checkbox>
                    </md-input-container>
                    <div layout-gt-xs="row">
                        <md-input-container flex>
                            <label>Regi&oacute;n</label>
                            <input ng-model="area.location.state" type="text" ng-disabled="useCurrentLocation">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Ciudad</label>
                            <input ng-model="area.location.city" type="text" ng-disabled="useCurrentLocation">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row" ng-hide="useCurrentLocation">
                        <md-input-container flex>
                            <label>Sector</label>
                            <input ng-model="area.location.neighborhood" type="text" ng-disabled="useCurrentLocation">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Calle</label>
                            <input ng-model="area.location.street" type="text" ng-disabled="useCurrentLocation">
                        </md-input-container>
                    </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()" >
                Cancelar
            </md-button>
            <md-button class="md-accent" ng-click="answer()" >
                Guardar
            </md-button>      
        </md-dialog-actions>
    </form>
</md-dialog>

